# QUESTIONS:
1. What is the total sales for the last month?
2. What is the average sales across all stores?
3. What is the sales on March 13, 2016?
4. When is worst week of Store C?
5. How much are the total sales from the most recent 3 months?

## Preparing Workspace

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [4]:
df = pd.read_csv('store_data.csv')
df_copy = df.copy()

## Data Cleaning

In [5]:
df_copy.head()

         week  storeA  storeB  storeC  storeD  storeE
0  2014-05-04    2643    8257    3893    6231    1294
1  2014-05-11    6444    5736    5634    7092    2907
2  2014-05-18    9646    2552    4253    5447    4736
3  2014-05-25    5960   10740    8264    6063     949
4  2014-06-01    7412    7374    3208    3985    3023

In [6]:
df_copy['week'] = pd.to_datetime(df_copy['week'], format='%Y-%m-%d')

In [7]:
df_datetime = df_copy.set_index('week')

## Question 1: What is the total sales for the last month?

In [8]:
totsales_lastmonth = df_datetime.resample('m').sum().tail(1).sum(axis=1).sum()
totsales_lastmonth

96739

## Question 2: What is the average sales across all stores?

In [9]:
avsales = df_datetime.mean().mean().round(2)
avsales

5115.14

## Question 3: What is the sales on March 13, 2016?

In [10]:
sales_20160313 = df_datetime.loc['2016-03-13'].sum()
sales_20160313

16605

## Question 4: When is worst week of Store C?

In [11]:
leastsales_storeC = df_datetime.loc[:, ['storeC']].sort_values(by=['storeC'], ascending=True).head(1)
leastsales_storeC

            storeC
week
2014-07-06     927

## Quetion 5: How much are the total sales from the most recent 3 months?

In [12]:
totsales_last3month = df_datetime.resample('m').sum().tail(3).sum(axis=1).sum()
totsales_last3month

336047